body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#produits {
border: medium solid #C0C0C0;
width: 50%;
}

#caseQuantite{
  width: auto;
}

#modalContent{
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
}
