body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#produits {
border: medium solid #C0C0C0;
width: 50%;
}

#caseQuantite{
  width: auto;
}

#modalContent{
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
}
#ajouterDecliDiv{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#ajouterDecli{
  text-align: center;
  width: 100%;
}

#formDeclinaison{
  width: 100%;
  border: 2px solid grey;
}

.selected{
  background-color: #B0BED9 !important;
}
